# for swagger config
# example config file
spring.mvc.pathmatch.matching-strategy: ant_path_matcher

spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    username: sa
    password: password
    driverClassName: org.h2.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        default_batch_fetch_size: 1000
    hibernate:
      ddl-auto: create
    open-in-view: false

  redis:
    host: localhost
    port: 6379

jwt:
  secret:
    key: x!A%D*G-KaPdSgVkYp3s5v8y/B?E(H+M
